<!--WELCOME INDEX-->
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 id="index">Blocipedia</h1>
        </div>    
    </div>    
</div>    

